@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
@font-face {
    font-family: 'font-averta';
    src: url('./assets/fonts/Averta Black.otf') format('opentype'),
         url('./assets/fonts/Averta Bold.otf') format('opentype'),
         url('./assets/fonts/Averta Extra Bold.otf') format('opentype'),
         url('./assets/fonts/Averta Light.otf') format('opentype'),
         url('./assets/fonts/Averta Semibold.otf') format('opentype'),
         url('./assets/fonts/Averta Thin.otf') format('opentype');
  }
h1{
    @apply font-averta font-bold text-3xl
}